<% content_for :css do %>
  <%= stylesheet_link_tag 'top' %>
<% end %>

<main class="frame">
  <div class="container row">
    <div class="top-content col-5">
      <h1 class="top-header logo">
        Welcome to <br>
        Cocktails Recipe
      </h1>

      <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/cocktails'">Cocktails</button>
      <p  class="top-text">or</p>
      <button type="button" class="btn btn-success btn-lg btn-block" onclick="location.href='/cocktails'">Mocktails</button>
      <br>
      <p class="top-text">
        Drinking less than 20 is prohibited by law.
      </p>
    </div>
  </div>
</main>