<% content_for :css do %>
  <%= stylesheet_link_tag 'top' %>
<% end %>

<main class="frame">
  <div class="container row">
    <div class="top-content col-md-6">
      <h1 class="top-header">
        Whisky<br>
        Wine<br>
        Jin<br>
        Rum<br>
        Beer<br>
        Vodka<br>
        Tequira<br>
        Liqueur<br>
      </h1>
    </div>
    <div class="top-content col-md-5 go-to-recipe">
      <!-- <a class="btn-shine" href="/cocktails">Go to Recipe</a> -->
      <%= link_to "Go to Recipe", cocktails_path, class: "btn-shine" %>
    </div>
  </div>
</main>