<div class="container">
  <div class="cocktails content-head">
    <h2 class="head-text">Cocktails</h2>
    <div class="row">
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <a class="js-modal-open" href="">
          <img src="https://images.unsplash.com/flagged/photo-1575451533010-a35916b8a8bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="card-img-top">
        </a>
        <div class="modal js-modal">
          <div class="modal__bg js-modal-close"></div>
          <div class="modal__content">
            <h3>Material</h3>
            <ul class="materials">
              <li>Whisky</li>
              <li>Lemon juice</li>
              <li>simple syrup</li>
            </ul>
            <h3>Steps</h3>
            <ol class="steps">
              <li>Lightly muddle the mint in a shaker.</li>
              <li>Add the rum, lime juice, simple syrup and ice and give it a brief shake.</li>
              <li>Strain into a highball glass over fresh ice.</li>
              <li>Top with the club soda.</li>
              <li>Garnish with a mint sprig and lime wheel.</li>
            </ol>
            <a class="js-modal-close" href="">close</a>
          </div><!-- modal__inner -->
        </div><!-- modal -->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Whisky</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1551538827-9c037cb4f32a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Rum</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1547595628-c61a29f496f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Wine</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1552611052-dd922d8f9603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Vodka</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="mocktails content-head">
    <h2 class="head-text">Mocktails</h2>
    <div class="row">
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1527661591475-527312dd65f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1543573852-1a71a6ce19bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1512103865222-dcf9531c9961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1570968915860-54d5c301fa9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page_top"><a href="#"></a></div>