<% content_for :css do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<!-- ローディング画面 -->
<div class="loader-wrap">
  <div class="breeding-rhombus-spinner">
    <div class="rhombus child-1"></div>
    <div class="rhombus child-2"></div>
    <div class="rhombus child-3"></div>
    <div class="rhombus child-4"></div>
    <div class="rhombus child-5"></div>
    <div class="rhombus child-6"></div>
    <div class="rhombus child-7"></div>
    <div class="rhombus child-8"></div>
    <div class="rhombus big"></div>
  </div>
</div>


<div class="container">
  <h2 class="head-text">Cocktails</h2>
  <div class="masonry">

    <div class="grid">
      <img src="https://source.unsplash.com/random/1">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link js-modal-open" target="_blank" href="" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>

    <div class="grid">
      <img src="https://source.unsplash.com/random/2">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link js-modal-open" target="_blank" href="" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/3">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/4">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/5">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/6">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/7">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/8">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/9">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/10">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/11">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/12">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Cocktail Title</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h3>Materials</h3>
            <ul class="material">
              <li>Irish whisky</li>
              <li>brown sugar</li>
              <li>coffee</li>
              <li>whipped cream</li>
            </ul>
            <h3>Steps</h3>
            <ol>
              <li>Filling an Irish Coffee mug with hot water, let sit for 2 minutes, then discard the water.</li>
              <li>Add the whiskey and sugar to the glass, fill with the coffee, and stir.</li>
              <li>Top with an inch of unsweetened lightly whipped cream.</li>
            </ol>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->
  </div>

  <br>

  <div class="mocktails content">
    <h2 class="head-text">Mocktails</h2>
    <div class="row">
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1527661591475-527312dd65f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1543573852-1a71a6ce19bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1512103865222-dcf9531c9961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1570968915860-54d5c301fa9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page_top"><a href="#"></a></div>