<!-- order
<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                        <h3 class="form-header-title">ユーザーログイン</h3>
                    </div>
                    <div class="form-body">

                      <div class="row">
                          <div class="col-xs-offset-1 col-xs-10">
                              <div class="text-center">
                                  <h5>メールアドレスと<br>パスワードを入力してください。</h5>
                              </div>
                          </div>
                      </div>

                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group has-icon">
                        <label class="control-label sr-only" for="inputEmail">Email</label>
                        <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
                        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-icon">
                        <label class="control-label sr-only" for="inputPassword">Password</label>
                        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
                        <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
                        </div>
                        <%= f.submit "サインイン", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                    <% end %> 

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<section>
    <div class="section section-signup page-header" style="background-image: url('./assets/img/city.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mx-auto">
            <div class="card card-login">
              <form class="form">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Login</h4>
                  <div class="social-line">
                    <a href="javascript:;" class="btn btn-just-icon btn-link">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-just-icon btn-link">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-just-icon btn-link">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <p class="description text-center">Or Be Classical</p>
                <div class="card-body">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="">
                  </div>
                </div>
                <div class="footer text-center">
                  <a href="javascript:;" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
