/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.top-text {
  text-align: center;
}

.frame {
  background-image: url("https://images.unsplash.com/photo-1587780086212-62afb37785e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80");
  background-position: left 0px bottom 50px;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 700px;
}

.top-right-content {
  margin-top: 40px;
}

.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
}

.card {
  margin: 0 5px 0 5px;
}

.head-text {
  font-family: 'Montserrat Subrayada', sans-serif;
}

 /* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #343a40;
  text-align: center;
}

.footer p {
  color: white;
  line-height: 60px;
}
/* -------------------------------------------------- */

#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a{
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f139';
  font-size: 50px;
  color: #3fefee;
}